<header>
  <div class="row">
    <div class="col-sm-6 logo hidden-md hidden-lg hidden-sm">
      <img src="assets/images/logo.png" />
    </div>
    <div class="col-sm-6 brand">
      lalki emigrantki
    </div>
    <div class="col-sm-6 logo hidden-xs">
      <img src="assets/images/logo.png" />
    </div>
  </div>

  <div class="navbar navbar-default">
    <ul class="nav navbar-nav navbar-right">
      {{#withSort menu 'data.order'}}
        {{#each this.pages }}
        <li><a href="{{ replaceStr this.dest 'dist' '' }}">{{ this.data.title }}</a></li>
        {{/each}}
      {{/withSort}}
    </ul>
  </div>
</header>
