<header>
  <h2>curriculum vitae</h2>
  <div class="bar">
    <h1 class="col-sm-12">Tomasz Jureczko</h1>
    <div class="col-sm-6">tomasz.jureczko@gmail.com</div>
    <div class="col-sm-6">07930005222</div>
  </div>
</header>
