<header>
  <h2>curriculum vitae</h2>
  <div class="bar">
    <h1 class="col-sm-12">{{ about.me.name }}</h1>
    <div class="col-sm-6">{{ about.me.contacts.email }}</div>
    <div class="col-sm-6">{{ about.me.contacts.phone }}</div>
  </div>
</header>
