<header>
    <div class="bar">
        <h1 class="name">{{ about.me.name }}</h1>
        <p class="contacts"><a href="mailto:{{ about.me.contacts.email }}">{{ about.me.contacts.email }}</a>&nbsp; &nbsp;{{ about.me.contacts.phone }}</p>
    </div>
    <h2 class="cv">curriculum vitae</h2>
</header>
