{{#markdown}}
### **Zespół**
{{/markdown}}

{{#withSort ourteam 'data.order'}}
  {{#each this.pages }}
    <a href="{{ replaceStr this.dest 'dist' '' }}">
      <div class="row">
        <div class="col-sm-4">
          <img src="{{ this.data.thumbnail }}" />
        </div>
        <div class="col-sm-8">
          <div>
            {{this.data.name }}
          </div>
          <div>
            {{ this.data.title }}
          </div>
          <div>
            Pokaż więcej&raquo;
          </div>
        </div>
      </div>
    </a>
  {{/each}}
{{/withSort}}
