@font-face {
  font-family: 'bebas_neue';
  src: url('/assets/fonts/bebas_neue/BebasNeue-webfont.eot');
  src: url('/assets/fonts/bebas_neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/bebas_neue/BebasNeue-webfont.woff') format('woff'), url('/assets/fonts/bebas_neue/BebasNeue-webfont.ttf') format('truetype'), url('/assets/fonts/bebas_neue/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Arial";
  font-family: "bebas_neue";
  font-size: 18px;
  color: #bdbdbd;
  margin: 5px;
}
h1 {
  background: #575757;
  color: #ffffff;
  font-family: "bebas_neue";
  font-size: 30px;
  padding: 2px 5px 2px 5px;
}
label {
  font-family: "bebas_neue";
  color: #333333;
  min-width: 120px;
  font-weight: normal;
}
.inset {
  margin: 20px 0 50px 50px;
}
a {
  border-bottom: 1px dotted #bdbdbd;
  text-decoration: none;
  color: #bdbdbd;
}
a:hover {
  border-bottom: 1px dotted #333333;
  text-decoration: none;
  color: #333333;
}
header {
  position: relative;
  top: 50px;
  display: block;
  height: 100px;
}
header .bar {
  background: #575757;
  padding: 5px 50px 5px 50px;
  color: #ffffff;
  font-family: "bebas_neue";
}
header .name {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
header .cv {
  position: absolute;
  top: -60px;
}
header .contacts {
  text-size: 18px;
  font-size: 12px;
}
header a {
  text-decoration: none;
  color: #bdbdbd;
}
header a:hover {
  color: #bdbdbd;
  text-decoration: none;
}
