footer {
  margin-top: 50px;
  padding: 20px;
  color: #fff;
}
header .banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
header .banner img {
  width: 100%;
}
header .banner h1 {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 80%;
  left: 10%;
  text-shadow: 2px 2px #000;
  font-weight: bold;
  top: 20%;
}
header .navbar-brand img {
  display: inline-block;
  margin-right: 15px;
}
