---
title: "Dla inwestorów"
menu: true
order: 1
---
### **Drogi Inwestorze,**

### Jeżeli interesuje Cię spokojna, zabezpieczona finansowo przyszłość, skorzystaj z naszej [oferty](/oferta.html "Nasza oferta")

### Dlaczego warto inwestować w nieruchomości w Wielkiej Brytanii?

Inwestowanie w nieruchomości w Anglii zapewnia najlepszy bezpieczny zwrot z inwestycji. Mamy tutaj dwa rodzaje zysku, pasywny dochód z wynajmu jak i zystki kapitałowe.
- Większość ludzi czuje że ich oszczędności nie są dobrze zainwestowane. Nie są zadowolenie z zysków które osiągają w bankach czy funduszach. Często stopa zwrotu nie wiele przekracza stopę inflancji.
- Większość ludzi nie wie w jaki sposób ich oszczędności są inwestowane przez banki, fundusze inwestycyjne czy emerytalne. Nie wiedzą do końca jakie opłaty są od nich pobierane, jakie ryzyko i zysk są związne z inwestycją.
- Inwestowanie w nieruchomości daje dostęp do wysokich zysków dużo większych niż te otrzymywane w rzeczywsitości z banków czy funduszy. Zapewnia stały dochód z wynajmu jak i zyski kapitałowe przy wzroście cen nieruchomości.
- Nieruchomości w Wielkiej Brytanii zapewniają duże bezpieczeństwo posiadane kapitału.
- Bezpośrednia własonść nieruchomości zapewnia pełną kontrolę nad inwestycją.
<!--
<div class="row">
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
</div>
-->
