---
title: "Strona główna"
menu: true
order: 1
---
### **Drogi Inwestorze,**

### Jeżeli interesuje Cię spokojna, zabezpieczona finansowo przyszłość, skorzystaj z naszej [oferty](/oferta.html "Nasza oferta")

### Dlaczego warto inwestować w nieruchomości w Wielkiej Brytanii?

Inwestowanie w nieruchomości w Anglii zapewnia najlepszy bezpieczny zwrot z inwestycji. Mamy tutaj dwa rodzaje zysku: pasywny dochód z wynajmu oraz zystki kapitałowe.
- Większość ludzi ma poczucie, że ich oszczędności nie są dobrze zainwestowane a zyski jakie osiągają w bankach czy funduszach nie są w żadnej mierze satysfakcjonujące. Często stopa zwrotu ledwie przekracza stopę inflancji.
- Większość ludzi nie ma pojęcia w jaki sposób ich oszczędności są inwestowane przez banki, fundusze inwestycyjne czy emerytalne. Nie wiedzą do końca jakie opłaty są od nich pobierane, jaki jest stopień ryzyka i jaki może być ewentualny zysk związany z inwestycją.
- Inwestowanie w nieruchomości daje dostęp do wysokich zysków, dużo większych niż te otrzymywane w rzeczywsitości z banków czy funduszy. Zapewnia stały dochód z wynajmu oraz zyski kapitałowe przy wzroście cen nieruchomości.
- Nieruchomości w Wielkiej Brytanii zapewniają duże bezpieczeństwo kapitałowe.
- Bezpośrednia własonść nieruchomości zapewnia pełną kontrolę nad inwestycją.
<!--
<div class="row">
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
</div>
-->
