---
title: "Dla inwestorów"
---
### **Drogi Inwestorze,**

### Jeżeli interesuje Cię spokojna, zabezpieczona finansowo przyszłość, skorzystaj z naszej [oferty](/oferta.html "Nasza oferta")

### Dlaczego warto inwestować w nieruchomości w Wielkiej Brytanii.

Inwestowanie w nieruchomości w Anglii zapewnia najlepszy bezpieczny zwrot z inwestycji. Mamy tutaj dwa rodzaje zysku, pasywny dochód z wynajmu jak i zystki kapitałowe. 
- Most people do not feel their savings are working hard for them - they are unhappy with the returns they are getting in the bank, and they are often losing out in real terms due to inflation
- Most people don’t know how their money is being invested, what they are being charged for by banks, IFAs and pension providers, and what risks and returns are involved
- Investing in buy to let and buy to sell property can give you positive returns well above what you would get from a bank or traditional savings plan by providing cash flow and giving you access to capital growth
- By giving you direct ownership of assets, investing in property gives you greater control of your financial freedom, and offers a safer store of wealth
<div class="row">
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
</div>
