---
title: "Strona główna"
menu: true
order: 1
---
### **Drogi Inwestorze,**

### Jeżeli interesuje Cię spokojna, zabezpieczona finansowo przyszłość, skorzystaj z naszej [oferty](/oferta.html "Nasza oferta")

### Dlaczego warto inwestować w nieruchomości w Wielkiej Brytanii?

Inwestowanie w nieruchomości w Anglii zapewnia najlepszy bezpieczny zwrot z inwestycji. Mamy tutaj dwa rodzaje zysku: pasywny dochód z wynajmu oraz zystki kapitałowe.
- Większość ludzi ma poczucie, że ich oszczędności nie są dobrze zainwestowane a zyski jakie osiągają w bankach czy funduszach nie są w żadnej mierze satysfakcjonujące. Często stopa zwrotu ledwie przekracza stopę inflancji.
- Większość ludzi nie ma pojęcia w jaki sposób ich oszczędności są inwestowane przez banki, fundusze inwestycyjne czy emerytalne. Nie wiedzą do końca jakie opłaty są od nich pobierane, jaki jest stopień ryzyka i jaki może być ewentualny zysk związany z inwestycją.
- Inwestowanie w nieruchomości daje dostęp do wysokich zysków, dużo większych niż te otrzymywane w rzeczywsitości z banków czy funduszy. Zapewnia stały dochód z wynajmu oraz zyski kapitałowe przy wzroście cen nieruchomości.
- Nieruchomości w Wielkiej Brytanii zapewniają duże bezpieczeństwo kapitałowe.
- Bezpośrednia własonść nieruchomości zapewnia pełną kontrolę nad inwestycją.

### Jak inwestować w nieruchomości?

<h4><i>„Jestem zajęty, nie mam czasu i nie wiem jak to zrobić…”</i></h4>
- Większość ludzi nie inwestuje w nieruchomości ponieważ nie mają odpowiedniej ilości czasu lub wiedzy, by z sukcesem przezwyciężyć mnóstwo potencjalnych problemów.
- Inwestycja w nieruchomości jest zawsze dobrym i bezpiecznym wyborem, czego nie zawsze można powiedzieć o ulokowaniu oszczędności w innych dobrach materialnych.
- Jeśli chcesz by twoje oszczędności zarabiały i chcesz bezpiecznie je ulokować, ale nie masz wystarczająco czasu, wiedzy czy umiejętności, warto pomyśleć o współpracy z wykwalifikowanymi ekspertami, którzy rozumieją Twoje potrzeby i posiadają doświadczenie na rynku nieruchomości.

<!--
Praca z wykwalifikowanymi i doświadczonymi inwestorami.
Oszczędność Twojego czasu i wysiłku.
Ulokuj swoje oszczędności , w sposób który odpowiada Twoim potrzebom .
-->
<!--
<div class="row">
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-3">.col-sm-3</div>
</div>
-->
