---
title: "O nas"
menu: true
order: 3
---
### **O nas**

### Dlaczego warto wybrać EAM Property Investment?

<h4><i>„Chcę pracować z kimś pewnym zaufania, doświadczonym i profesjonalnym…”</i></h4>

- W przypadku, gdy zdecydujesz się na współpracę z firmą zajmującą się nieruchomościami, chcesz mieć pewność, że pracujesz z ludźmi kompetentnymi i godnymi zaufania.
- Współpraca z firmą zajmującą się nieruchomościami pomoże Ci w pełni wykorzystać możliwości płynące z inwestycji w nieruchomości.

### EAM Property Investment jest inna od reszty firm obecnych na rynku ponieważ:

- Twoje wymagania są na pierwszym miejscu. W odróżnieniu od naszych konkurentów przeprowadzamy dokładne konsultacje z naszymi klientami, by dowiedzieć się jakie inwestycje są dla Ciebie najlepsze, a następnie wyszukujemy nieruchomości zgodne z Twoimi wymaganiami.
- Nie zależy nam na szybkim zysku, a na długoterminowej współpracy z klientami.
- Dobra reputacja i profesjonalne zachowanie. W dodatku jesteśmy firmą regulowaną przez Królewski Instytut Biegłych Rzeczoznawców Nieruchomości (Royal Institution of Chartered Surveyors).  W związku z tym jesteśmy zobowiązani przestrzegać ich Kodeksu Postępowania oraz zawsze jesteśmy uczciwi i szczerzy w stosunku do naszych klientów.
- Myślimy realistycznie. Na przykład w budżet wliczamy pieniądze na nieprzewidziane wydatki, by być przygotowanym na zmiany w rynku nieruchomości, a nasze przykłady transakcji są prawdziwymi umowami, w które byliśmy zaangażowani.
