header {
    position: relative;
    top: 50px;
    display: block;
    height: 100px;
    margin-bottom: 50px;


    .bar {
        background: @bg-color;
        padding: 5px 50px 5px 50px;
        color: @text-highlight-bg-color;
        font-family : @heading-font;
    }

    .name {
        font-size   : @font-size-xl;
        margin      : 0;
        padding     : 0;
    }

    .cv {
        font-family: @body-font;
        position: absolute;
        top: -60px;
        text-transform: capitalize;
        color: @bg-color;
    }

    .contacts {
        font-size   : @font-size-l;
        text-align: right;
    }

    a {
        text-decoration: none;
        color       : @text-color;
    }

    a:hover {
        color       : @text-color;
        text-decoration: none;
    }
}
