@bg-color: #575757;

@text-color: lighten(@bg-color, 40%);
@text-color-strong: #333;
@text-highlight-bg-color: #fff;

@font-size-xs     : 10px;
@font-size-sm     : @font-size-xs * 1.2;
@font-size-normal : @font-size-xs * 1.8;
@font-size-xl     : @font-size-xs * 2;
@font-size-xxl    : @font-size-xs * 3;


@body-font: "Arial";
@heading-font: "bebas_neue";
