<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume</title>
    <link rel="stylesheet" href="/assets/css/resume.min.css">
  </head>
  <body>
    <div class="container-fluid">
      {{>header}}
      {{>listed-information about}}
      {{>listed-information skills}}
      {{>two-line-list code-samples}}
      {{>work-experience}}
			{{>projects-portfolio}}
    </div>
  </body>
</html>
